<div id="tableBlock">

  <div id="thead" class="tableContent">
    <div id="number" class="Cell cellSort" (click)="updateSort($event)" data-sort=""><div><div class="num">Номер</div><div  class="sort" >1</div></div></div>
    <div id="name" class="Cell cellSort" (click)="updateSort($event)" data-sort=""><div><div class="num">Название</div><div class="sort">▲</div></div></div>
    <div id="category" class="Cell cellSort" (click)="updateSort($event)" data-sort=""><div><div class="num">Категория</div><div class="sort">▼</div></div></div>
    <div id="subcategory"  class="Cell cellSort" (click)="updateSort($event)" data-sort=""><div><div class="num">Субкатегория</div><div class="sort">▼</div></div></div>
    <div id="firm" class="Cell cellSort" (click)="updateSort($event)" data-sort=""><div><div class="num" data-sort="">Фирма</div><div class="sort">▼</div></div></div>
  </div>

  <div class="tableContent">
    <div class="Cell">Номер</div>
    <div class="Cell">Название</div>
    <div class="Cell">Категория</div>
    <div class="Cell">Субкатегория</div>
    <div class="Cell">Фирма</div>
  </div>

</div>
