<ul id="navigation" >
  <li id="orders" [routerLink]="['/administration','orders']" routerLinkActive="active"><img src="../../../assets/icon/orders.png"></li>
  <li id="goods" [routerLink]="['/administration','goods']" routerLinkActive="active"><img src="../../../assets/icon/goods.png"></li>
  <li id="warehouse" [routerLink]="['/administration', 'warehouse']" routerLinkActive="active"><img src="../../../assets/icon/warehouse.png"></li>
  <li id="reference" [routerLink]="['/administration','reference']" routerLinkActive="active"><img src="../../../assets/icon/reference.png"></li>
  <li id="administration" [routerLink]="['/administration','administration']" routerLinkActive="active"><img src="../../../assets/icon/administration.png"></li>
</ul>

