
<div id="page-buttons">
  <div class="page-direction"><button><small>❮❮</small></button></div>
  <div class="page-direction"><button><small>❮</small></button></div>
  <div class="page-item"><button><small>1</small></button></div>
  <div class="page-item"><button><small>2</small></button></div>
  <div class="page-item"><button><small>3</small></button></div>
  <div class="page-item"><button><small>4</small></button></div>
  <div class="page-item"><button><small>5</small></button></div>
  <div class="page-direction"><button><small>❯</small></button></div>
  <div class="page-direction"><button><small>❯❯</small></button></div>
</div>
