<div id="area">
  <app-head id="head"></app-head>
  <div id="center">
    <app-navigation id="navigation"></app-navigation>
    <div id="content">
      <div id="tab">
        <app-tabs></app-tabs>
      </div>
      <div id="but">
        <app-buttons ></app-buttons>
      </div>
      <div id="table">
        <app-table (sortColumn)="sortdColumn($event)"></app-table>
      </div>
    </div>
  </div>
  <div id="footer">
    <app-count (rowsUpt)="test($event)"></app-count>
    <app-page></app-page>
  </div>
</div>
