<div id="butArea">
  <div class="group-but">
    <div class="but-item left-but"><button><img src="../../../assets/icon/add.png"></button></div>
    <div class="but-item center-but"><button><img src="../../../assets/icon/edit.png"></button></div>
    <div class="but-item right-but"><button><img src="../../../assets/icon/delete.png"></button></div>
  </div>

  <div class="group-but">
    <div class="but-item one-but"><button><img src="../../../assets/icon/watch.png"></button>
    </div>
  </div>

  <div class="group-but">
    <div class="but-item one-but"><button><img src="../../../assets/icon/cancel.png"></button></div>
  </div>

  <div class="group-but">
    <div class="but-item left-but "><button><img src="../../../assets/icon/warehouse-accepted.png"></button></div>
    <div class="but-item right-but"><button><img src="../../../assets/icon/cancel.png"></button></div>
  </div>
  <div class="group-but">
    <div class="but-item left-but "><button><img src="../../../assets/icon/delivery.png"></button></div>
    <div class="but-item right-but"><button><img src="../../../assets/icon/cancel.png"></button></div>
  </div>
  <div class="group-but">
    <div class="but-item left-but "><button><img src="../../../assets/icon/selled.png"></button></div>
    <div class="but-item right-but"><button><img src="../../../assets/icon/cancel.png"></button></div>
  </div>
  <div class="input-but">
    <div>
      <input type="text" name="" placeholder="Поиск">
    </div>
  </div>
</div>
